@mixin font-base {
	padding: 0;
	margin: 0;
	line-height: 1.3;
	font-weight: 600;
}

h4 {
	@include font-base;
}

.header {
    font-size: 20px;
    padding-top: 10px;
	letter-spacing: 5px;
	position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left:40px;
}
.logo {
	height: 120px;
	width: 150px;
}
.logout {
    position: absolute;
    top: 40px;
    right:40px;
}
.logout a {
	text-decoration: none;
	font-size: 2rem;
}


p {
	@include font-base;
	color: grey;
	font-size: 0.7rem;
}

body {
	background: url('https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.container {
	width: 700px;
	background-color: #E8DDD7;
	margin: 0 auto;
}

header,
section {
	position: absolute;
	text-align: center;
	width: 700px;
	background-color: #E8DDD7;
}

section {
	top: 50px;
}

.logo {
	width: 120px;
	padding: 10px;
}

main {
	padding: 370px 0px 10px;
}

article {
    width: 700px;
	display: inline-block;
	align-items: center;
	margin: 0 auto;
	&:hover {
		border: 2px solid #ff9999;
	}
}

.thumb {
	height: 70px;
    border-radius: 4px;
    display: none;
}

.details {
    padding: 8px 22px;
    display: block;
}

.header {
	color:darkred;
	font-size: 2rem;
	font-weight: bold;
}



/*Resonsiveness*/

@media only screen and (max-width: 716px) {
	.container, header,
	section {
	position: absolute;
	text-align: center;
	width: 500px;
	background-color: #E8DDD7;
	}

	#video, main {
		width: 500px;
		margin-bottom: 10px;
		height: 315px;
		position: absolute;
		left:0;
	}
}
