@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-color: #abc;
}
.darken-grey-text {
    color: #2E2E2E;
}




body {
	background: url('https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

article {
    width: 600px;
    height: 550px;
	display: inline-block;
	align-items: center;
	margin: 0 auto;
	&:hover {
		border: 2px solid #ff9999;
	}
}

#results::before {
    padding-top: 0%;
}

.logo-box {
    position: absolute;
    top: 10px;
    left:20px;
}
.logo {
	height: 120px;
    width: 150px;
}

h1 {
    word-spacing: 3px;
    letter-spacing: 10px;
}


@media only screen and (max-width: 974px) {
    h1 {
    word-spacing: 0;
    letter-spacing: 2px;

    }
    .logo-box {
        position: absolute;
        top: 50px;
        left:0px;
    }
    .logo {
        height: 80px;
        width: 100px;
        
    }
}

@media only screen and (max-width: 768px) {
    article {
        height: 300px;
    }
}
